<p-table
  [value]="employees"
  [columns]="cols"
  [reorderableColumns]="true"
  responsiveLayout="scroll"
  (onRowReorder)="onRowReorder($event)"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem"></th>
      <th *ngFor="let col of columns" pReorderableColumn>
        {{ col.header }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-index="rowIndex"
    let-employee
  >
    <tr [pReorderableRow]="index">
      <td>
        <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
      </td>
      <td>
        {{ employee.employee_name }}
      </td>
      <td
        [ngClass]="{
          'low-salary': employee.employee_salary < 100000
        }"
      >
        <i *ngIf="employee.employee_salary < 100000" class="pi pi-star"></i>
        {{ employee.employee_salary }}
      </td>
      <td style="width: 5rem">
        <p-toast></p-toast>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-button-text"
          (click)="show(employee)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
